
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>

<h:head>
	<title>Compras Realizadas</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Comprar" icon="pi pi-dollar"
				action="#{beanCompra.actionCargarMenuComprar()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<p:panelGrid columns="6">
				<h:outputText value="Buscar Compras por Rango de Fechas:" />
				<h:outputText value="Fecha inicio:" />
				<p:datePicker value="#{beanCompra.fechaInicio}" />
				<h:outputText value="Fecha fin:" />
				<p:datePicker value="#{beanCompra.fechaFin}" />
				<p:commandButton update="@form" value="Consultar" icon="pi pi-clock"
					actionListener="#{beanCompra.actionListenerBuscarCompras()}" />
			</p:panelGrid>

			<p:dataTable value="#{beanCompra.listaCompras}" var="compras"
				emptyMessage="No se encontraron registros." paginator="true"
				rows="5">
				<p:column headerText="Id">
					<h:outputText value="#{compras.idCompra}" />
				</p:column>
				<p:column headerText="Numero de Compra">
					<h:outputText value="#{compras.idCompra}" />
				</p:column>
				<p:column headerText="Fecha Compra">
					<h:outputText value="#{compras.fecha}" />
				</p:column>

				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-eye" title="Ver Detalles"
						styleClass="ui-button-secondary"
						action="#{beanCompra.actionListenerVerDetalles(compras.idCompra)}" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanCompra.actionListenerEliminarCompra(compras.idCompra)}">
						<p:confirm header="Confirmación"
							message="Desea borrar esta compra?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
