<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>

<h:head>
	<title>Comprar</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Ver Compras" icon="pi pi-book"
				action="#{beanCompra.actionCargarMenuCompra()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel id="information">
		<h:form id="formDatos">
			<p:panel header="Datos Compra">
				<f:facet name="actions">
					<p:commandButton value="Finalizar Compra" update="@form"
						action="#{beanCompra.actionListenerFinalizarCompra()}">
					</p:commandButton>
				</f:facet>
				<p:panelGrid columns="6">
					<h:outputText value="Seleccione Proveedor:" />
					<p:selectOneMenu value="#{beanCompra.cedulaProveedorSeleccionado}"
						style="width: 100%;">
						<f:selectItems value="#{beanCompra.listaProveedores}" var="prov"
							itemLabel="#{prov.nombreComercial}"
							itemValue="#{prov.cedulaProveedor}"></f:selectItems>
					</p:selectOneMenu>

					<h:outputText value="Seleccione Categoria:" />
					<p:selectOneMenu value="#{beanCompra.idCatSeleccionada}"
						style="width: 100%;">
						<f:selectItems value="#{beanCompra.listaCategorias}" var="cat"
							itemLabel="#{cat.descripcion}" itemValue="#{cat.idTipoProducto}"></f:selectItems>
					</p:selectOneMenu>

					<p:inputText value="#{beanCompra.nombreP}"
						placeholder="Nombre Producto" />
					<p:commandButton value="Buscar" update="@form"
						action="#{beanCompra.buscarPorCategoria()}"></p:commandButton>
					<h:outputText value="Seleccione Producto:" />
					<p:selectOneMenu value="#{beanCompra.idProSeleccionado}"
						style="width: 175px;">
						<f:selectItems value="#{beanCompra.listaProductos}" var="p"
							itemLabel="#{p.nombre}" itemValue="#{p.idProducto}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Cantidad:" />
					<p:spinner min="1" value="#{beanCompra.cantidad}"
						style="width: 150px;"></p:spinner>
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="" />
				</p:panelGrid>
				<br />
				<div align="center">
					<p:commandButton value="Agregar" update="@form,:detalle"
						action="#{beanCompra.actionListenerAgregarDetalleCompra() }"></p:commandButton>
				</div>

			</p:panel>
		</h:form>
		<h:form id="detalle">
			<p:dataTable value="#{beanCompra.listaDetalleCompra}" var="c"
				emptyMessage="No hay registros aún." paginator="true" rows="10">
				<p:column headerText="Id">
					<h:outputText value="#{c.idDetCom}" />
				</p:column>
				<p:column headerText="Nombre Producto">
					<h:outputText value="#{c.nombrePro}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{c.cantidad}" />
				</p:column>
				<p:column headerText="Opciones">
					<p:commandButton icon="pi pi-user-edit" title="editar"
						styleClass="ui-button-info" update=":formEditar"
						oncomplete="PF('dlgEditar').show()"
						actionListener="#{beanCompra.actionEditarDetalleCompra(c.idDetCom)}">
					</p:commandButton>
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanCompra.actionListenerEliminarProductoDetalleCompra(c.idDetCom)}">
					</p:commandButton>
				</p:column>
			</p:dataTable>

		</h:form>

	</p:panel>
	<p:dialog header="Editar Cantidad" widgetVar="dlgEditar"
		width="450" showEffect="fade" modal="true">
		<h:form id="formEditar">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="Id:" />
				<p:inputText value="#{beanCompra.detalleCompraDTO.idDetCom}"
					disabled="true"/>
				<h:outputText value="Nombre Producto:" />
				<p:inputText value="#{beanCompra.detalleCompraDTO.nombrePro}"
					disabled="true"/>
				<h:outputText value="Cantidad:" />
				<p:spinner min="1" value="#{beanCompra.detalleCompraDTO.cantidad}"
						style="width: 150px;"></p:spinner>
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEditar').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":detalle"
					actionListener="#{beanCompra.actionActualizarCantidad()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

</body>
</html>
