<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>

<h:head>
	<title>Generar Factura</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanCompra.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<p:panel header="Datos Factura">
		<div style="text-align: center;">
			<h3>VIVERES AMPARITO</h3>
		</div>
		<div align="center">
			<p:panelGrid columns="4">
				<h:outputText value="No. Factura:" />
				<h:outputText value="#{beanCompra.compra.idCompra}" />
				<h:outputText value="Fecha Compra:" />
				<h:outputText value="#{beanCompra.compra.fecha}" />
			</p:panelGrid>
		</div>
		<br/>
		<h:form id="detalle">
			<p:dataTable value="#{beanCompra.listaDetalleCompra}" var="c"
				emptyMessage="No hay registros aún.">
				<p:column headerText="Id">
					<h:outputText value="#{c.idDetCom}" />
				</p:column>
				<p:column headerText="Nombre Producto">
					<h:outputText value="#{c.nombrePro}" />
				</p:column>
				<p:column headerText="Cantidad">
					<h:outputText value="#{c.cantidad}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
</body>
</html>
