<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de Tipo Productos</title>

	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Lista de Productos"></p:staticMessage>
	</h:form>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate>
			</p:autoUpdate>
		</p:messages>
		<p:panel
			collapsed="#{beanTipoProductos.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Producto" icon="pi pi-plus"
					update="@form"
					actionListener="#{beanTipoProductos.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				<p:inputText
					value="#{beanTipoProductos.tipoproducto.idTipoProducto}" placeholder="Identificador" />
				<h:outputText value="Descripción" />
				<p:inputText value="#{beanTipoProductos.tipoproducto.descripcion}" placeholder="Categoría" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanTipoProductos.actionListenerInsertarProducto()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos Tipo Productos">
			<p:dataTable value="#{beanTipoProductos.listatipoproductos}"
				reflow="true" var="producto" paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{producto.idTipoProducto}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{producto.idTipoProducto}" />
				</p:column>
				<p:column headerText="DESCRIPCIÓN"
					filterBy="#{producto.descripcion}" filterMatchMode="contains"
					priority="1">
					<h:outputText value="#{producto.descripcion}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="pi pi-times" title="eliminar" update="@form"
					style="background-color: red"
						actionListener="#{beanTipoProductos.actionListenerEliminarProducto(producto.idTipoProducto)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle">
						</p:confirm>
					</p:commandButton>
					<p:column headerText="OPCIONES">
						<p:commandButton icon="pi pi-user-edit" title="Editar"
							style="background-color: green"
							actionListener="#{beanTipoProductos.actionListenerSeleccionarTipoProducto(producto)}"
							update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
						</p:commandButton>
					</p:column>
				</p:column>
			</p:dataTable>
		</p:panel>

	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">

			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				<h:outputText
					value="#{beanTipoProductos.tipoproductoseleccionado.idTipoProducto}" />
				<h:outputText value="Descripción" />
				<p:inputText
					value="#{beanTipoProductos.tipoproductoseleccionado.descripcion}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanTipoProductos.actionListenerActualizarTipoProducto()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>


