<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de Productos</title>

	</f:facet>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Lista de Productos"></p:staticMessage>
	</h:form>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate>
			</p:autoUpdate>
		</p:messages>
		<p:panel collapsed="#{beanProductos.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Producto" icon="pi pi-plus"
					update="@form"
					actionListener="#{beanProductos.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				 <p:spinner id="basic" value="#{beanProductos.producto.idProducto}" />
				<h:outputText value="Descripción" />
				<p:inputText value="#{beanProductos.producto.descripcion}" placeholder="Tipo de producto"/>
				<h:outputText value="Nombre" />
				<p:inputText value="#{beanProductos.producto.nombre}" placeholder="Ingrese sus nombres" />
				<h:outputText value="Precio Costo" />
				<p:inputText value="#{beanProductos.producto.precioCosto}" placeholder="Ingrese el valor compra" />
				<h:outputText value="Precio Venta" />
				<p:inputText value="#{beanProductos.producto.precioVenta}" placeholder="Ingrese valor venta" />
				<h:outputText value="Stock" />
				<p:inputText value="#{beanProductos.producto.stock}" placeholder="Cantidad disponible" />
				<h:outputText value="Fecha" />
				 <p:calendar id="mask" value="#{beanProductos.producto.fechaIngreso}" placeholder="Seleccione la fecha"/>
				 
				<h:outputText value="Tipo producto" />
				<p:selectOneMenu value="#{beanProductos.idtipoproductoseleccionado}">
					<f:selectItems value="#{beanProductos.listaTipoProducto}" var="p"
						itemLabel="#{p.descripcion}" itemValue="#{p.idTipoProducto}">
					</f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Proveedor" />
				<p:selectOneMenu value="#{beanProductos.idproveedorseleccionado}">
					<f:selectItems value="#{beanProductos.listaProveedores}" var="p"
						itemLabel="#{p.nombreComercial}" itemValue="#{p.cedulaProveedor}">
					</f:selectItems>
				</p:selectOneMenu>
					<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2,:form1"
					actionListener="#{beanProductos.actionListenerInsertarProductos()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos Productos">
			<p:dataTable value="#{beanProductos.listaViveres}" reflow="true"
				var="producto" paginator="true" rows="5">
				<p:column headerText="ID PRODUCTO" filterBy="#{producto.idProducto}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{producto.idProducto}" />
				</p:column>
				<p:column headerText="DESCRIPCIÓN"
					filterBy="#{producto.descripcion}" filterMatchMode="contains"
					priority="1">
					<h:outputText value="#{producto.descripcion}" />
				</p:column>
				<p:column headerText="NOMBRES" filterBy="#{producto.nombre}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{producto.nombre}" />
				</p:column>
				<p:column headerText="PRECIO COSTO" sortBy="#{producto.precioCosto}"
					priority="3" style="width:50px">
					<h:outputText value="#{producto.precioCosto}" />
				</p:column>
				<p:column headerText="PRECIO VENTA" sortBy="#{producto.precioVenta}"
					priority="3" style="width:50px">
					<h:outputText value="#{producto.precioVenta}" />
				</p:column>
				<p:column headerText="STOCK" sortBy="#{producto.stock}" priority="3"
					style="width:50px">
					<h:outputText value="#{producto.stock}" />
				</p:column>
				<p:column headerText="FECHA INGRESO"
					sortBy="#{producto.fechaIngreso}" priority="3" style="width:100px">
					<h:outputText value="#{producto.fechaIngreso}" />
				</p:column>
				<p:column headerText="COD TIPO PRODUCTO"
					sortBy="#{producto.tipoProducto.idTipoProducto}" priority="3" style="width:50px">
					<h:outputText value="#{producto.tipoProducto.idTipoProducto}" />
				</p:column>
				<p:column headerText="COD PROVEEDOR"
					sortBy="#{producto.proProveedor.cedulaProveedor}" priority="3" style="width:100px">
					<h:outputText value="#{producto.proProveedor.cedulaProveedor}" />
				</p:column>
				
				<p:column headerText="OPCIONES" priority="1">
					
					<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-times" title="eliminar" update="@form"
					style="background-color: red"
						actionListener="#{beanProductos.actionListenerEliminarProducto(producto.idProducto)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle">
						</p:confirm>
					</p:commandButton>
						<p:commandButton icon="pi pi-user-edit" title="Editar"
							style="background-color: green"
							actionListener="#{beanProductos.actionListenerSeleccionarProductos(producto)}"
							update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
						</p:commandButton>
					</p:column>
				</p:column>
			</p:dataTable>
		</p:panel>

	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">

			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				<h:outputText
					value="#{beanProductos.productoseleccionado.idProducto}" />
					
				<h:outputText value="Descripción" />
				<p:inputText
					value="#{beanProductos.productoseleccionado.descripcion}" />
				
				<h:outputText value="Nombre" />
				<p:inputText
					value="#{beanProductos.productoseleccionado.nombre}" />
					
					<h:outputText value="Precio Costo" />
				<p:inputText
					value="#{beanProductos.productoseleccionado.precioCosto}" />
					
					<h:outputText value="Precio Venta" />
				<p:inputText
					value="#{beanProductos.productoseleccionado.precioVenta}" />
					
					<h:outputText value="Stock" />
				<p:inputText
					value="#{beanProductos.productoseleccionado.stock}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanTipoProductos.actionListenerActualizarTipoProducto()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>