<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>

</f:metadata>

<h:head>
	<title>Vender</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
	<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
			action="#{beanVentas.actionReporte()}" />


			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>

	<p:panel id="information">
		<h:form id="formDatos">
			<p:panel header="Datos Venta">

				<p:panelGrid columns="2">
					<h:outputText value="Seleccione cliente:" />
					<p:selectOneMenu value="#{beanVentas.cedulacli}">
						<f:selectItems value="#{beanVentas.listaClientes}" var="c"
							itemLabel="#{c.apellidos} #{c.nombres}"
							itemValue="#{c.cedulaCliente}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Nombre de Empleado" />
					<p:panelGrid columns="2">
					<p:inputText value="#{beanVentas.nombreempleado}">
					</p:inputText>
					<p:selectOneMenu value="#{beanVentas.idPro}">
						<f:selectItems value="#{beanVentas.listaProductos}" var="c"
							itemLabel="#{c.nombre}" itemValue="#{c.idProducto}"></f:selectItems>
					</p:selectOneMenu>
					</p:panelGrid>
					<h:outputText value="Forma De Pago" />
					<p:selectOneMenu value="#{beanVentas.idformadepago}">
						<f:selectItems value="#{beanVentas.listaFormaDepago}" var="c"
							itemLabel="#{c.descripcion}" itemValue="#{c.idFormaPago}"></f:selectItems>
					</p:selectOneMenu>

					<h:outputText value="Cantidad:" />
					<p:spinner min="1" style="width: 150px;"
						value="#{beanVentas.cantidad}"></p:spinner>
					<p:commandButton value="Agregar producto" update="@form:, f2"
						actionListener="#{beanVentas.actionListenerAgregarDetalleVenta()}" />
					<p:commandButton value="GUARDAR" update="f2"
						actionListener="#{beanVentas.actionListenerGuardarListadeCompras()}" />
				</p:panelGrid>
				<br />


			</p:panel>
		</h:form>
		<h:form id="f2">
			<p:dataTable value="#{beanVentas.listaDetVentas}" var="p"
				rowIndexVar="row" emptyMessage="Agregue los productos">
				<p:column headerText="ID">
					<h:outputText value="#{p.idProducto}" />
				</p:column>
				<p:column headerText="NOMBRE">
					<h:outputText value="#{p.nombrepro}" />
				</p:column>
				<p:column headerText="CANTIDAD">
					<h:outputText value="#{p.cantidad}" />
				</p:column>
				<p:column headerText="COSTO">
					<h:outputText value="#{p.precioUnitario}" />
				</p:column>
				<p:column headerText="SUBTOTAL">
					<h:outputText value="#{p.subtotal}" />
					<f:facet name="footer">
						<h:outputText value="#{beanVentas.total}" />

					</f:facet>
				</p:column>
			</p:dataTable>
		</h:form>

	</p:panel>



</body>
</html>
