<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo de datos clientes</title>

	</f:facet>
</h:head>
<body>
	<h:form>
		<p:menubar>
		<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:growl>
		<p:autoUpdate /> 
	</p:growl>
	<h:form id="form1">

		<p:messages>
			<p:autoUpdate>
			</p:autoUpdate>
		</p:messages>
		<p:panel collapsed="#{beanCiudad.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nueva ciudad" icon="pi pi-plus"
					update="@form"
					actionListener="#{beanCiudad.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				<p:inputText value="#{beanCiudad.ciudad.codigoCiudad}" />
				<h:outputText value="NOMBRE" />
				<p:inputText value="#{beanCiudad.ciudad.nombreCiudad}" />

				<p:commandButton value="Insertar" icon="pi pi-user-edit"
					update="@form,:form2"
					actionListener="#{beanCiudad.actionListenerInsertarCiudad()}"></p:commandButton>

			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form id="form2">
		<p:panel header="Datos estudiantiles">
			<p:dataTable value="#{beanCiudad.listaCiudad}" reflow="true"
				var="ciudad" paginator="true" rows="5">
				<p:column headerText="ID" filterBy="#{ciudad.codigoCiudad}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{ciudad.codigoCiudad}" />
				</p:column>
				<p:column headerText="NOMBRES" filterBy="#{ciudad.nombreCiudad}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{ciudad.nombreCiudad}" />
				</p:column>

				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="pi pi-times" title="eliminar" update="@form" style ="background-color: red"
						actionListener="#{beanCiudad.actionListenerEliminarCiudad(ciudad.codigoCiudad)}">
					<p:confirm header="Confirmación" message="Desea eliminar?"
						icon="fa fa-exclamation-triangle"> </p:confirm>
						</p:commandButton>
						<p:column headerText="OPCIONES">
						<p:commandButton icon="pi pi-user-edit" title="Editar"
							style="background-color: green"
							actionListener="#{beanCiudad.actionListenerSeleccionarCiudad(ciudad)}"
							update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
						</p:commandButton>
				</p:column>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">

			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				<h:outputText
					value="#{beanCiudad.ciudadseleccionada.codigoCiudad}" />
				<h:outputText value="Descripcion" />
				<p:inputText
					value="#{beanCiudad.ciudadseleccionada.nombreCiudad}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanCiudad.actionListenerActualizarCiudad()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>