<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo De Tipo De Documento</title>

	</f:facet>
	<style>
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background: #313552;
	color: #FF0000;
	border: 1px solid #313552;
}
</style>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate>
			</p:autoUpdate>
		</p:messages>
		<p:panel collapsed="#{beanTipoDocumento.panelColapsado}">
			<f:facet name="header"  >
				<p:commandButton value="Nuevo tipo de documento" icon="fa fa-plus"  style="background-color: #245f9e" 
					update="@form"
					actionListener="#{beanTipoDocumento.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2"  style="color: #245f9e">
				<h:outputText value="Id"/>
				<p:inputText
					value="#{beanTipoDocumento.tipodocumento.idTipoDocumento}" />
				<h:outputText value="Descripción" />
				<p:inputText value="#{beanTipoDocumento.tipodocumento.descripcion}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form,:form2"
					actionListener="#{beanTipoDocumento.actionListenerInsertarTipoDocumento()}"></p:commandButton>

			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />

	<h:form id="form2">
		<p:panel header="Datos tipo de documento">
			<p:dataTable value="#{beanTipoDocumento.listaTipoDocumentos}"
				reflow="true" var="tipodocumento" paginator="true" rows="5">
				<p:column headerText="ID"
					filterBy="#{tipodocumento.idTipoDocumento}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{tipodocumento.idTipoDocumento}" />
				</p:column>
				<p:column headerText="DESCRIPCION" priority="2">
					<h:outputText value="#{tipodocumento.descripcion}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton title="eliminar" icon="pi pi-times" update="@form"
						style="background-color: red"
						actionListener="#{beanTipoDocumento.actionListenerEliminarTipoDocumento(tipodocumento.idTipoDocumento)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle">
						</p:confirm>
					</p:commandButton>
					<p:commandButton icon="pi pi-user-edit" title="Editar"
						style="background-color: green"
						actionListener="#{beanTipoDocumento.actionListenerSeleccionarTipoDocumento(tipodocumento)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">

			<p:panelGrid columns="2">
				<h:outputText value="ID" />
				<h:outputText
					value="#{beanTipoDocumento.tipodocumentoseleccionado.idTipoDocumento}" />
				<h:outputText value="Descripción" />
				<p:inputText
					value="#{beanTipoDocumento.tipodocumentoseleccionado.descripcion}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanTipoDocumento.actionListenerActualizarTipoDocumento()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
