<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo De Cliente</title>

	</f:facet>
	<style>
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background: #313552;
	color: #FF0000;
	border: 1px solid #313552;
}
</style>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate>
			</p:autoUpdate>
		</p:messages>
		<p:panel collapsed="#{beanCliente.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo cliente" icon="pi pi-plus"
					style="background-color: #245f9e" update="@form"
					actionListener="#{beanCliente.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2" style="color: #245f9e">
				<h:outputText value="Tipo de documento" />
				<p:selectOneMenu
					value="#{beanCliente.idtipodocumentoseleccionado}">
					<f:selectItems value="#{beanCliente.listaTipoDeDocumentos}"
						var="p" itemLabel="#{p.descripcion}"
						itemValue="#{p.idTipoDocumento}">
					</f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="CÉDULA" />
				<p:inputText value="#{beanCliente.cliente.cedulaCliente}" placeholder="0123456789" maxlength="10">
					<p:keyFilter mask="num" />
				</p:inputText>
				<h:outputText value="NOMBRES" />
				<p:inputText value="#{beanCliente.cliente.nombres}" placeholder="Ingrese sus nombres"/>
				<h:outputText value="APELLIDOS" />
				<p:inputText value="#{beanCliente.cliente.apellidos}" placeholder="Ingrese sus apellidos"/>
				<h:outputText value="CIUDAD" />
				<p:selectOneMenu value="#{beanCliente.idciudadseleccionado}">
					<f:selectItems value="#{beanCliente.listaCiudades}" var="p"
						itemLabel="#{p.nombreCiudad}" itemValue="#{p.codigoCiudad}">
					</f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="DIRECCIÓN" />
				<p:inputText value="#{beanCliente.cliente.direccion}" placeholder="Ingrese su dirección" />
				<h:outputText value="TELÉFONO" />
				
				<p:inputText value="#{beanCliente.cliente.telefono}" placeholder="0999999999" maxlength="10">
				<p:keyFilter mask="num" />
				</p:inputText>
				<p:commandButton value="Insertar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanCliente.actionListenerInsertarCliente()}"></p:commandButton>

			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form2">
		<p:panel header="Datos de Cliente">
			<p:dataTable value="#{beanCliente.listaclientes}" reflow="true"
				var="tipocliente" paginator="true" rows="5">
				<p:column headerText="CÉDULA"
					filterBy="#{tipocliente.cedulaCliente}"
					filterMatchMode="contains" priority="1" style="width:100px">
					<h:outputText value="#{tipocliente.cedulaCliente}" />
				</p:column>
				<p:column headerText="NOMBRES" filterMatchMode="contains"
					priority="1" style="width:130px">
					<h:outputText value="#{tipocliente.nombres}" />
				</p:column>
				<p:column headerText="APELLIDOS" filterMatchMode="contains"
					priority="1" style="width:150px">
					<h:outputText value="#{tipocliente.apellidos}" />
				</p:column>

				<p:column headerText="DIRECCIÓN" sortBy="#{tipocliente.direccion}"
					priority="3" style="width:150px">
					<h:outputText value="#{tipocliente.direccion}" />
				</p:column>
				<p:column headerText="TELÉFONO" sortBy="#{tipocliente.telefono}"
					priority="3" style="width:150px">
					<h:outputText value="#{tipocliente.telefono}" />
				</p:column>
				<p:column headerText="TIPO DOCUMENTO"
					sortBy="#{tipocliente.tipoDeDocumento}" priority="3"
					style="width:100px">
					<h:outputText value="#{tipocliente.tipoDeDocumento.descripcion}" />
				</p:column>
				<p:column headerText="CIUDAD" sortBy="#{cliente.ciuCiudad}"
					priority="3" style="width:100px">
					<h:outputText value="#{tipocliente.ciuCiudad.nombreCiudad}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1" style="width:60px">
					<p:commandButton title="eliminar" icon="pi pi-times" update="@form"
						style="background-color: red"
						actionListener="#{beanCliente.actionListenerEliminarCliente(tipocliente.cedulaCliente)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle">
						</p:confirm>
					</p:commandButton>
					<p:commandButton icon="pi pi-user-edit" title="Editar"
						style="background-color: green"
						actionListener="#{beanCliente.actionListenerSeleccionarCliente(tipocliente)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<p:growl>
			<p:autoUpdate />
		</p:growl>
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<p:panelGrid columns="2">
				<h:outputText value="CÉDULA" />
				<p:inputText
					value="#{beanCliente.clienteseleccionado.cedulaCliente}" />
				<h:outputText value="NOMBRES" />
				<p:inputText value="#{beanCliente.clienteseleccionado.nombres}" />
				<h:outputText value="APELLIDOS" />
				<p:inputText value="#{beanCliente.clienteseleccionado.apellidos}" />
				
				<h:outputText value="DIRECCION" />
				<p:inputText value="#{beanCliente.clienteseleccionado.direccion}" />
				<h:outputText value="TELÉFONO" />
				<p:inputText value="#{beanCliente.clienteseleccionado.telefono}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanCliente.actionListenerActualizarCliente()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
