<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>Manejo De Tipo De Documento</title>

	</f:facet>
	<style>
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background: #313552;
	color: #FF0000;
	border: 1px solid #313552;
}
</style>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate>
			</p:autoUpdate>
		</p:messages>
		<p:panel collapsed="#{beanProveedor.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo proveedor" icon="fa fa-plus"
					style="background-color: #245f9e" update="@form"
					actionListener="#{beanProveedor.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2" style="color: #245f9e">
				<h:outputText value="Tipo de documento" />
					<p:selectOneMenu
						value="#{beanProveedor.idtipodocumentoseleccionado}">
						<f:selectItems value="#{beanProveedor.listaTipoDeDocumentos}"
							var="p" itemLabel="#{p.descripcion}"
							itemValue="#{p.idTipoDocumento}">
						</f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="CÉDULA" />
					<p:inputText value="#{beanProveedor.proveedor.cedulaProveedor}"  placeholder="0123456789" maxlength="10" >
						<p:keyFilter mask="num" />
					</p:inputText>
					<h:outputText value="NOMBRES" />
					<p:inputText value="#{beanProveedor.proveedor.nombres}" placeholder="Ingrese sus nombre"/>
					<h:outputText value="APELLIDOS" />
					<p:inputText value="#{beanProveedor.proveedor.apellidos}" placeholder="Ingrese sus apellidos" />
					<h:outputText value="NOMBRE_COMERCIAL" />
					<p:inputText value="#{beanProveedor.proveedor.nombreComercial}" placeholder="Ingrese nombre comercial"/>
					<h:outputText value="CIUDAD" />
					<p:selectOneMenu value="#{beanProveedor.idciudadseleccionado}">
						<f:selectItems value="#{beanProveedor.listaCiudades}" var="p"
							itemLabel="#{p.nombreCiudad}" itemValue="#{p.codigoCiudad}">
						</f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="DIRECCIÓN" />
					<p:inputText value="#{beanProveedor.proveedor.direccion}" placeholder="Ingrese la dirección" />
					<h:outputText value="TELÉFONO" />
					<p:inputText value="#{beanProveedor.proveedor.telefono}"  placeholder="Teléfono/Celular"/>
					<p:commandButton value="Insertar" icon="fa fa-save"
						update="@form,:form2"
						actionListener="#{beanProveedor.actionListenerInsertarProductos()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form id="form2">
		<p:panel header="Datos de proveedor">
			<p:dataTable value="#{beanProveedor.listaproveedores}" reflow="true"
				var="tipoprovedor" paginator="true" rows="5">
				<p:column headerText="CÉDULA"
					filterBy="#{tipoprovedor.cedulaProveedor}"
					filterMatchMode="contains" priority="1" style="width:100px">
					<h:outputText value="#{tipoprovedor.cedulaProveedor}" />
				</p:column>
				<p:column headerText="NOMBRES" filterMatchMode="contains"
					priority="1" style="width:130px">
					<h:outputText value="#{tipoprovedor.nombres}" />
				</p:column>
				<p:column headerText="APELLIDOS" filterMatchMode="contains"
					priority="1" style="width:150px">
					<h:outputText value="#{tipoprovedor.apellidos}" />
				</p:column>
				<p:column headerText="NOMBRE_COMERCIAL"
					sortBy="#{tipoprovedor.nombreComercial}" priority="3"
					style="width:150px">
					<h:outputText value="#{tipoprovedor.nombreComercial}" />
				</p:column>
				<p:column headerText="DIRECCIÓN" sortBy="#{tipoprovedor.direccion}"
					priority="3" style="width:150px">
					<h:outputText value="#{tipoprovedor.direccion}" />
				</p:column>
				<p:column headerText="TELÉFONO" sortBy="#{tipoprovedor.telefono}"
					priority="3" style="width:150px">
					<h:outputText value="#{tipoprovedor.telefono}" />
				</p:column>
				<p:column headerText="COD TIPO DOCUMENTO"
					sortBy="#{tipoprovedor.tipoDeDocumento}" priority="3"
					style="width:100px">
					<h:outputText value="#{tipoprovedor.tipoDeDocumento.descripcion}" />
				</p:column>
				<p:column headerText="COD CIUDAD" sortBy="#{proveedor.ciuCiudad}"
					priority="3" style="width:100px">
					<h:outputText value="#{tipoprovedor.ciuCiudad.nombreCiudad}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1" style="width:60px">
					<p:commandButton title="eliminar" icon="pi pi-times" update="@form"
						style="background-color: red"
						actionListener="#{beanProveedor.actionListenerEliminarProeedor(tipoprovedor.cedulaProveedor)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle">
						</p:confirm>
					</p:commandButton>
					<p:commandButton icon="pi pi-user-edit" title="Editar"
						style="background-color: green"
						actionListener="#{beanProveedor.actionListenerSeleccionarProveedor(tipoprovedor)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();">
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar informacion" widgetVar="dlgEdicion"
		modal="true">
		<p:growl>
			<p:autoUpdate />
		</p:growl>
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<p:panelGrid columns="2">
				<h:outputText value="CÉDULA" />
				<p:inputText
					value="#{beanProveedor.provedorseleccionado.cedulaProveedor}" />
				<h:outputText value="NOMBRES" />
				<p:inputText value="#{beanProveedor.provedorseleccionado.nombres}" />
				<h:outputText value="APELLIDOS" />
				<p:inputText value="#{beanProveedor.provedorseleccionado.apellidos}" />
				<h:outputText value="NOMBRE_COMERCIAL" />
				<p:inputText
					value="#{beanProveedor.provedorseleccionado.nombreComercial}" />
				<h:outputText value="DIRECCION" />
				<p:inputText value="#{beanProveedor.provedorseleccionado.direccion}" />
				<h:outputText value="TELÉFONO" />
				<p:inputText value="#{beanProveedor.provedorseleccionado.telefono}" />
				<p:commandButton value="Actualizar" icon="pi pi-save"
					update="@form,:form2"
					actionListener="#{beanProveedor.actionListenerActualizarProveedor()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Si" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
